<div  class="container quiz-box">
    <div class="quiz-list">
        <div *ngFor="let c of quizes ; let i=index">
            <a routerLink='/quiz/{{i}}'>
                {{c.question1}}<br>
                {{c.question2}}
                {{c.question3}}
                {{c.question4}}
                {{c.question5}}<br>
              <input  type="radio" name ="option1"> 
              <label class="form-check-label">{{c.option1}} </label><br>
              <input type="radio" name="option2">
              <label class="form-check-label">{{c.option2}} </label><br>
              <input type="radio" name="option3">
              <label class="form-check-label">{{c.option3}} </label><br>
              <input type="radio" name="option4">
              <label class="form-check-label">{{c.option4}} </label><br>
               
                </a>
            
        </div>
    </div>
    <br>
    <input type="submit" (click)="submitTest()" name="submit" value="submit">
</div>

