<div class="container quiz-box">
    <div class="quiz-list">
        <div *ngFor="let c of quizes">
            <a routerLink='/quiz'>
                {{c.question1}}<br>
                {{c.option1}}<br>
                {{c.option2}}<br>
                {{c.option3}}<br>
                {{c.option4}}
                </a>
            
        </div>
    </div>

    <input type="submit"  name="previous" value="previous">  &nbsp;
    <input type="submit" routerLink="" name="next" value="next"> 
    
</div>
© 2019 GitHub, Inc.